<!DOCTYPE html>
<html>
  <head>
    <title>Travel Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Travel Club</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"   aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex justify-content-between ml-auto">
            <% if(!currentUser) { %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-link" href="/register">Sign Up</a>
              </li>
            <% } else { %>
              <li class="nav-item ml-3">
                <a href="/profile">Signed In As <%= currentUser.username %></a>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
  </nav>

  <div class="container">
    <% if (error && error.length > 0) { %>
      <div class="alert alert-danger mt-3" role="alert">
        <%= error %>
      </div>
    <% } %>

    <% if (success && success.length > 0) { %>
      <div class="alert alert-success mt-3" role="alert">
        <%= success %>
      </div>
    <% } %>
  
  
  