<!DOCTYPE html>
<html>
  <head>
    <title>Travel Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Travel Club</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"   aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex justify-content-between ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Login</a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="/">Sign Up</a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  