<% include partials/header %>


<div class="container">
  <header class="jumbotron">
    <h1>Welcome to YelpCamp Page</h1>
    <p>View all the campgrounds</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">
        Add New Campground
      </a>
    </p>
  </header>

  <div class="row">
    <div class="col-lg-12">
      <h3>Our Most Popular Campgrounds!</h3>
    </div>
  </div>

  <div class="row" style="display:flex; flex-wrap:wrap;">
    <% campgrounds.forEach(campground => { %>
      <div class="col-md-3 col-sm-6">
        <div class="img-thumbnail">
            <img src="<%= campground.image %>" />
            <div class="caption text-center">
              <h4><%= campground.name %></h4>
            </div>
        </div>
      </div>
    <% }); %> 
  </div>
</div>

<% include partials/footer %>