<% include partials/header %>

<h2>Create a new Campground</h2>

<form action="/campgrounds" method="POST">
  <input type="text"  name="name" placeholder="name">
  <input type="text" name="image" placeholder="image url">
  <input type="submit">
</form>

<a href="/campgrounds">Go back to Campgrounds</a>

<% include partials/footer %>